ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nt-panel-title {
	font-style: oblique;
	font-weight: bold;
	font-family: Georgia, serif;
}

.progress-bar.progress-bar-danger {
	transition: width 0s ease;
	-webkit-transition: width 0s ease;
}

.nt-operation-icon {
	margin: 0 35px;
}

.nt-loading-icon {
	padding: 0 6px;
	position: absolute;
	left: 50%;
	z-index: 99;
	margin-left: -20px;
	background: #f6f6f6;
}

.nt-music-panel {
	padding-top: 30px;
	height: 550px;
	position: relative;
}

.music-left-panel {
	width: 460px;
	float: left;
	position: relative;
}

.music-right-panel {
	float: right;
	width: 500px;
	height: 440px;
	margin-right: 50px;
	text-align: left;
}

.music-lrc-panel {
	word-break: break-all;
	overflow-y: scroll;
	height: 400px;
	padding-right: 3px;
}

.music-lrc {
	height: 25px;
}

.music-lrc.active {
	color: #d9534f;
}

.nt-music-cover {
	width: 360px;
	height: 360px;
	border-radius: 50%;
	margin: 0 50px;
	box-shadow: 0px 0px 15px #000;
	background: -webkit-repeating-radial-gradient(#2f2f2f, #1e1e1e 3%);
	background: -o-repeating-radial-gradient(#2f2f2f, #1e1e1e 3%);
	background: -ms-repeating-radial-gradient(#2f2f2f, #1e1e1e 3%);
	background: -moz-repeating-radial-gradient(#2f2f2f, #1e1e1e 3%);
	background: repeating-radial-gradient(#2f2f2f, #1e1e1e 3%);
}

.nt-music-favorable {
	text-align: center;
	margin-top: 35px;
}

.music-love-button {
	margin: 0 15px;
	cursor: pointer;
}

.music-love-button:hover, #addMusic:hover, #closeList:hover {
	color: #d9534f;
}

.nt-music-operation {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #f6f6f6;
	border-top: 1px solid #ddd;
	left: 0;
}

.nt-music-operation i {
	cursor: pointer;
}

.nt-music-operation .progress {
	cursor: pointer;
}

.music-progress-time {
	width: 10%;
	padding-right: 5px;
}

.music-all-time {
	width: 10%;
	padding-left: 5px;
}

.music-progress {
	width: 80%;
	display: inline-block;
	height: 7px;
	margin: 20px 0 2px;
}

.music-operation-smodule {
	width: 10%;
	text-align: center;
	display: inline-block;
}

.music-operation-module {
	width: 20%;
	text-align: center;
	display: inline-block;
}

.volume-progress {
	width: 40%;
	display: inline-block;
	height: 5px;
	margin: 20px 0 2px;
}

.music-center-cover {
	background-image: url(../image/music/0.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	border: 3px solid #eee;
	border-radius: 50%;
	width: 220px;
	height: 220px;
	position: absolute;
	left: 120px;
	top: 70px;
	text-indent: 0;
}

.nt-music-list {
	width: 450px;
	position: absolute;
	right: 0;
	top: -240px;
	height: 240px;
	background: #eee;
	opacity: 0.9;
	display: none;
	text-align: left;
}

.nt-music-list>ul {
	overflow-y: scroll;
	height: 199px;
}

.music-list-title {
	padding: 10px 15px;
	margin: 0;
	font-weight: bold;
	background: #ccc;
}

.music-list-li {
	overflow: hidden;
	padding: 5px 0 0;
	cursor: pointer;
}

.music-list-li.active {
	color: #d9534f;
}

.music-list-li:hover {
	color: #d9534f;
}

.fa-random.active {
	color: #d9534f;
}

.nt-music-center {
	text-align: center;
}

.margin-right-10{
	margin-right: 10px;
}

.list-operation-span{
	float: right;
	display: none;
	color: #aaa;
}

.list-operation-span>i:hover{
	color:#000;
}

.fast-spin {
	animation: spin 1.5s infinite linear;
	-o-animation: spin 1.5s infinite linear;
	-ms-animation: spin 1.5s infinite linear;
	-moz-animation: spin 1.5s infinite linear;
	-webkit-animation: spin 1.5s infinite linear;
}

.spin {
	animation: spin 10s infinite linear;
	animation-play-state: paused;
	-o-animation: spin 10s infinite linear;
	-o-animation-play-state: paused;
	-ms-animation: spin 10s infinite linear;
	-ms-animation-play-state: paused;
	-moz-animation: spin 10s infinite linear;
	-moz-animation-play-state: paused;
	-webkit-animation: spin 10s infinite linear;
	-webkit-animation-play-state: paused;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes spin {
  0%   { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}
@-ms-keyframes spin {
  0%   { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  0%   { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}